<!DOCTYPE html>
@using System.Linq
@using System.Security.Claims;

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebUI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebUI</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Anasayfa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Hakkımızda</a>
                        </li>
                        @if (User?.Identity?.IsAuthenticated ?? false)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="Profile">Profilim</a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="float-right">
                    @if (User?.Identity?.IsAuthenticated ?? false)
                    {

                        <ul class="navbar flex-grow-1">
                            <li class="nav-link text-dark">Hoşgeldin, @User.Identity.Name</li>
                            @foreach (var claim in Context.User.Claims)
                            {
                                if (claim.Type == "urn:discord:avatar:url")
                                {
                                    <li class="nav-link text-dark"><img src="@claim.Value" class="user-profile-picture" /></li>
                                }


                            }
                            <li class="nav-link text-dark"><a class="btn btn-lg btn-danger" href="/signout?returnUrl=%2F">Çıkış Yap</a></li>
                        </ul>
                    }
                    else
                    {
                        <form action="/signin" method="post">
                            <input type="hidden" name="Provider" value="Discord" />
                            <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />
                            <button class="btn btn-lg btn-success m-1" type="submit">Discord ile Giriş Yap!</button>
                        </form>
                    }

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - WebUI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
